body {
    background: linear-gradient(to bottom, #0c001f, #19002f);
    min-height: 98vh;
    color: white;
    font-family: "Dela Gothic One", sans-serif;
    display: flex;
    overflow-x: hidden;   
}
.firstTitle {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-size: 2vw;
    margin-top: 8vh;
    width: 100vw;
}

.smallTitleContainer{
    display: flex;
    align-items: center;
    justify-content: left;
    margin-left: 7vw;
    margin-top: 10vh;
}
.smallTitle{
    margin-left: 2vw;
    font-size: 2.7vw;
}
.textContainer{
    margin-left: 7vw;
    width: 90vw;
}

.backButton{
    padding: 0.5vw;
    color: white;
    border-width: 3px;
    border-radius: 50%;
    border-color: rgba(255, 255, 255, 0);
    transition: all 0.2s ease;
    border-style: solid;
}
.backButton:hover{
    border-color: white;
    cursor: pointer;
}
.simpleImage{
    border-radius: 1vw;
    height: 4vw;
    width: auto;
}
.sideBySide{
    display: grid;
    grid-template-columns: 1.2fr 2.3fr;
    align-items: center;
}
.sideBySideCompose{
    display: grid;
    grid-template-columns: 3fr 2.3fr;
    align-items: center;
}
.window{
    width: 86vw;
    display: inline-block;
    background-color: #141c24;
    border: 2px solid #212934;
}
.windowTab{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2vw;
    display: inline-block;
    border: 1px solid #212934;
    border-top: 1px solid #e1ac69;
    background-color: #242936;
    color: #474e5a;
    padding: 0.5vw 1vw;
}
.windowTabWindow{
    border: 1px solid #212934;
    background-color: #1c212a;
    color: #474e5a;
}
.codeTab{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.8vw;
    color: #ce9f60;
    margin:1vw 0
}
.lineNumber{   
    color: #697483;
    margin-left: 1vw;
    margin-right: 0.5vw;
    padding-right: 1vw;
    flex-shrink: 0;
    border-right: 1px solid #212934;
}
.terminalText{
    color: #ffffff;
}
.codeLine{
    display: flex;
    user-select: none;
    margin: 0 1vw;
    transition: all 0.2s ease;
}
.codeLine:hover{
    color: #4e754e;
}
.hiddenComment{
    color: #474e5a;
    transition: all 0.2s ease;
    opacity: 0;
}
.codeLine:hover .hiddenComment{
    color: #999999;
    opacity: 1;
}
.codeText{
    flex: 1;
}
.warning{
    color: #e60000;
    animation: warning 3s ease;
    animation-iteration-count: infinite;
}
@keyframes warning{
    0%{
        color: #ff0000;
    }
    48%{
        margin-left: 0vw;
    }
    49%{
        margin-left: 0.3vw;
    }
    50%{
        color: #ca0000;
        margin-top: -1.3vw;
    }
    51%{
        margin-left: -0.3vw;
    }
    52%{
        margin-left: 0vw;
    }
    100%{
        color: #ff0000;
        margin-top: 1.3vw;
    }
}
.paragraphSection {
    font-family: "Teko", sans-serif;
    font-size: 2.5vw;
    width: 80%;
    max-width: 60rem;
    text-align: center;
    margin: 0 auto;
}

.longParagraphSection {
    font-family: "DM Mono", monospace;
    font-size: 1.4vw;
    width: 90%;
    text-align: left;
    margin-left: 5vw;
}

.menu {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    gap: 10vw;
    position: absolute;
    top: -10vh;
    right: 0;
    left: 0;
    height: 8vh;
    background: linear-gradient(to top, #090017, #1a0030);
    border: rgb(72, 0, 130) 0.1vw solid;
    margin-right: 2vw;
    margin-left: 2vw;
    margin-top: 2vh;
    border-radius: 20px;
    z-index: 0;
    padding-right: 5vw;
}

.menuButton {
    height: 7vh;
    transition: opacity 0.2s;
    z-index: 1;
}

.menuButton:hover {
    opacity: 85%;
}

.logo {
    position: absolute;
    left: 3vw;
    height: 8vh;
    user-select: none;
    transition: filter 0.2s ease;
}

.logo:hover {
    filter: brightness(0) saturate(100%) invert(29%) sepia(98%) saturate(7493%) hue-rotate(77deg) brightness(100%) contrast(109%);
    cursor: pointer;
}

.pages {
    color: rgb(188, 188, 188);
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    height: 4vh;
    width: 7vw;
    transition: all 0.2s ease;
    user-select: none;
}

.pages:hover {
    color: rgb(255, 255, 255);
    cursor: pointer;
}

.page {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin-top: 1vh;
    height: 6vh;
    width: 10vw;
    transition: color 0.2s, background-color 0.2s;
    user-select: none;
}

.page:hover {
    color: white;
    cursor: pointer;
}

.openOption {
    position: absolute;
    top: 6.1vh;
    background: linear-gradient(to bottom, #090017, #1a0030);
    border: rgb(72, 0, 130) 0.1vw solid;
    border-style: solid;
    border-radius: 20px;
    height: 22vh;
    width: 10vw;
}

.imageSection {
    display: flex;
    align-items: center;
    justify-content: center;
}

.myImage {
    position: absolute;
    top: 55vh;
    left: 100%;
    border: 2px solid transparent;
    border-color: rgb(255, 255, 255);
    border-radius: 20px;
    height: 30vh;
    margin-top: 10vh;
    animation: rightToLeft 3s cubic-bezier(0, 0.78, 1, 0.1) infinite;
    animation-direction: alternate;
}
#menuToggle{
    visibility: hidden;
    position: fixed;
}

@keyframes rightToLeft {
    0% {
        left: 150%;
    }
    100% {
        left: -2000px;
    }
}

.profilePicture {
    border: 2px solid transparent;
    border-color: rgb(255, 255, 255);
    border-radius: 20px;
    height: 38vh;
    box-shadow: 0 0 10vh rgba(255, 255, 255, 0.3), 0 0 10vh rgba(255, 255, 255, 0.3), 0 0 10vh rgba(255, 255, 255, 0.3);
    margin-top: 2vh;
}
.sitesImage{
    height: 5vw;
    margin-left: 3vw;
    border-radius: 50%;
}

.left {
    animation: leftMenuAnimation 0.3s;
}

.come {
    animation: comeMenuAnimation 0.3s;
}

@keyframes leftMenuAnimation {
    0% {
        top: 0;
    }
    100% {
        top: -10vh;
    }
}

@keyframes comeMenuAnimation {
    0% {
        top: -10vh;
    }
    100% {
        top: 0vw;
    }
}

.imageContainer {
    position: relative;
    white-space: nowrap;
    justify-content: center;
    display: flex;
    gap: 5vw;
    margin-top: 8vh;
    height: 25vh;
}

.gamesImage {
    height: 20vh;
    border-radius: 20px;
    border: white 0.4vw solid;
}

.gamesAnimation {
    animation: changeImage 0.3s ease;
}

.centerThis{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.blogSection{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to bottom, #090017, #1a0030);
    color: rgb(192, 192, 192);
    width: 85vw;
    height: 10vh;
    border-radius: 15px;
    border: rgb(72, 0, 130) 0.1vw solid;
    transition:all 0.2s ease;
}

.blogSection:hover{
    background: linear-gradient(to bottom, #0c0020, #23003f);
    color: rgb(255, 255, 255);
    cursor: pointer;
    transform: translateY(-10px);
    padding-bottom: 10px;
}

.blogTitle{
    font-size: 1vw;
    transition: all 0.2s ease;
}

.blogSection:hover .blogTitle {
    font-size: clamp(0.8rem, 0.8vw, 1rem);
    transform: translateY(-2vh);
}

.blogContent{
    color: rgba(171, 171, 171, 0);
    position: absolute;
    bottom: 0px;
    transition: all 0.2s ease;
}

.blogSection:hover .blogContent{
    display: block;
    color: rgb(171, 171, 171);
}

@keyframes changeImage {
    0% {
        height: 20vh;
    }
    50% {
        height: 19.8vh;
    }
    100% {
        height: 20vh;
    }
}

@media (max-width: 767px) {
    h1{
        font-size: 6vw;
    }
    .smallTitleContainer {
        margin-left: 2vw;
        margin-top: 5vh;
    }

    .smallTitle {
        text-align: center;
        font-size: 8vw;
        margin-left: 1vw;
    }

    .textContainer {
        margin-left: 2vw;
        width: 95vw;
    }

    .longParagraphSection {
        font-size: 4vw;
        width: 95%;
        margin-left: 2.5vw;
    }

    .sideBySide {
        grid-template-columns: 1fr;
    }
    .sideBySideCompose{
        grid-template-columns: 1fr;
    }
    .simpleImage{
        display: none;
    }
    .window {
        width: 90vw;
    }

    .windowTab {
        font-size: 4vw;
        padding: 1vw 2vw;
    }

    .codeTab {
        font-size: 3.5vw;
    }

    .codeLine {
        margin: 0 2vw;
    }

    .lineNumber {
        margin-left: 0.5vw;
        margin-right: 0.3vw;
        padding-right: 0.5vw;
    }

    .hiddenComment {
        display: none;
    }
    .warning {
        font-size: 3.5vw;
    }
    .blogTitle{
        text-align: center;
        font-size: 3vw;
    }
    
    .blogSection{
        width: 90vw;
        height: 12vh;
        margin: 2vh 0;
    }
    
    .blogContent{
        font-size: 2.5vw;
    }
    
    .sitesImage{
        height: 8vw;
        margin-left: 1vw;
    }
    @keyframes rightToLeft {
        0% {
            left: 180%;
        }
        100% {
            left: -600px;
        }
    }

    @keyframes changeImage {
        0% {
            height: 20vh;
        }
        50% {
            height: 19.8vh;
        }
        100% {
            height: 20vh;
        }
    }

    .firstTitle {
        font-size: 4vw;
        margin-top: 7vh;
    }

    .paragraphSection {
        font-size: 5.4vw;
        width: 90%;
        margin-bottom: 15vh;
    }

    
    .menu {
        visibility: hidden;
        flex-direction: column;
        gap: 2vh;
        top: 0;
        height: auto;
        padding-right: 0;
    }

    .menuButton {
        height: 6vh;
    }

    .logo {
        left: 1vw;
        height: 6vh;
    }

    .pages,
    .page {
        width: 80%;
        height: 8vh;
        margin-top: 2vh;
    }

    .openOption {
        height: 12vh;
        width: 80%;
    }

    .imageSection {
        flex-direction: column;
        gap: 2vh;
    }

    .myImage {
        height: 20vh;
        margin-top: 15vh;
        top: 50vh;
    }

    .profilePicture {
        height: 30vh;
        margin-top: 5vh;
    }

    .games{
        display: flex;
        flex-direction:column;
        align-items: center;
        gap: 25vh;
    }
    .imageContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 7vh;
        margin-left: 0;

    }

    .gamesImage {
        height: 20vh;
    }
    #menuToggle
    {

        visibility: visible;
    
        display: block;
        position: fixed;
        top: 20px;
        left: 20px;
        
        z-index: 1000;
        
        -webkit-user-select: none;
        user-select: none;
        }
        #menuToggle a
        {
            text-decoration: none;
            color: #ffffff;
            
            transition: color 0.3s ease;
        }
        #menuToggle input
        {
        display: block;
        width: 40px;
        height: 32px;
        position: absolute;
        top: -7px;
        left: -5px;
            
        opacity: 0;
        z-index: 1001;
        
        -webkit-touch-callout: none;
        }

        #menuToggle span
        {
        display: block;
        width: 33px;
        height: 4px;
        margin-bottom: 5px;
        position: relative;
        
        background: #ffffff;
        border-radius: 3px;
        
        z-index: 999;
        
        transform-origin: 4px 0px;
        
        transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                    background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                    opacity 0.55s ease;
        }

        #menuToggle span:first-child
        {
        transform-origin: 0% 0%;
        }
        
        #menuToggle span:nth-last-child(2)
        {
        transform-origin: 0% 100%;
        }

        #menuToggle input:checked ~ span
        {
        opacity: 1;
        transform: rotate(45deg) translate(-2px, -1px);
        background: #ffffff;
        }

        #menuToggle input:checked ~ span:nth-last-child(3)
        {
        opacity: 0;
        transform: rotate(0deg) scale(0.2, 0.2);
        }
        #menuToggle input:checked ~ span:nth-last-child(2)
        {
        transform: rotate(-45deg) translate(0, -1px);
        }

        #menu
        {
            position: fixed;
            top: 0;
            bottom: 0;
            right: 0;
            left: 0;
            margin: -100px 0 0 -50px;
            padding: 80px;
            padding-top: 125px;
            padding-bottom: 100%;
            
            background: #151515;
            list-style-type: none;
            -webkit-font-smoothing: antialiased;
            
            transform-origin: 0% 0%;
            transform: translate(-100%, 0);
            
            transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
        }

        #menu li
        {
            background: linear-gradient(to top, #090017, #1a0030);
            border: rgb(140, 0, 255) 0.1vw solid;
            margin: 50px 0;
            padding: 25px;
            border-radius: 20px;
            text-align: center;
            transition: background-color 0.3s ease;
            margin-left: 40px;
        }

        #menuToggle input:checked ~ ul
        {
            transform: none;
            background: linear-gradient(to bottom, #090017, #130023);
        }
}